name: CI

on:
  push:
    branches: [ main, 1-patient-registration ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore
      run: dotnet restore sdd-hospital.sln

    - name: Build
      run: dotnet build sdd-hospital.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test sdd-hospital.sln --no-build --configuration Release --verbosity normal
